.home_page_container {
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, black 65%, rgba(0,0,0,0%) );
  color: white;
  font-family: 'Flamenco', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-content: center;
  padding: 0 20%
} 

.personal_intro {
  margin: 0 auto 0 auto;
  font-size: x-large;
}

.logo {
  font-size: 55px;
  font-weight: bold;
  color: rgb(255, 254, 21);
  margin: 0 auto 15px auto;
  letter-spacing: -5px;
}

.home_page_name {
  color: green;
  font-weight: bold;
}

@media screen and (max-width: 414px) {

}