.home_page_container {
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, black 65%, rgba(0,0,0,0%) );
  color: white;
  font-family: 'Flamenco', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center; 
} 

p {
  margin: 0 auto;
  font-size: x-large;
}

.logo {
  font-size: 55px;
  font-weight: bold;
  color: rgb(255, 254, 21);
  margin-bottom: 15px;
  letter-spacing: -5px;
}

.home_page_name {
  color: green;
  font-weight: bold;
}

@media screen and (max-width: 414px) {

  .home_page_container {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, black 65%, rgba(0,0,0,50%) );
    color: white;
    font-family: 'Flamenco', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

}