@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

.app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 7vh 100vh;
}

.app_navbar {
  height: 7%;
  width: 105vw;
  display: flex;
  position: fixed;
}

.app_body_container {
  height: 105vh;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 100% 100% 200%;
}

.app_home_page {
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100vw;
  
}

.app_about_me_page {
  grid-row-start: 2;
  grid-row-end: 3;
}

.second_background {
  background-image: url(./images/large_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-rows: 105vh 105vh;
}

.app_projects {
  grid-row-start: 1;
  grid-row-end: 2;
}

.app_contact_me_page {
  grid-row-start: 2;
  grid-row-end: 3;
}