.about_me_full_div {
  background-color: black;
  height: 100vh;
  width: 55vw;
  margin-left: 45vw;
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Flamenco', cursive;
}

.about_me_inner_full_div {
  height: 95%;
  width: 95%;
  margin-top: 2.5%;
  display: flex;
}

.test {
  color: white;
}



